Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [5]:
import pandas as pd 
data = [4,8,15,16,23,42]
df = pd.Series(data)
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [6]:
import pandas as pd
data_1 = [1,2,1,3,4,5,6,7,8,9]
df = pd.Series(data_1)
df

0    1
1    2
2    1
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [1]:
my_dic = {
    "Name" : ["Alice" , "Bob", "Claire"],
    "Age"  : [25     ,30,  27],
    "Gender" : ["Female" ,"Male","Female"]
}
import pandas as pd
df = pd.DataFrame(my_dic)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame-
   1)2-dimensional tabular data structure.
   2)Has rows and columns.
   3)Similar to a spreadsheet or SQL table.
   
Series-   
   1)1-dimensional array-like object.
   2)Contains a sequence of values
   3)Essentially a single column of a DataFrame.

In [4]:
import pandas as pd

# Series
data = [10, 20, 30, 40]
series = pd.Series(data)

# DataFrame
data = {'Name': ['Monu', 'Bablu', 'Chirag'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

 some common functions to manipulate data in a Pandas DataFrame are:
 
   1)head() and tail(): To view the first or last few rows of the DataFrame.
   2)info(): To get a concise summary of the DataFrame's structure and data types.
   3)describe(): To generate descriptive statistics for the numeric columns.
   4)sort_values(): To sort the DataFrame based on one or more columns.
   5)groupby(): To group the data based on specific columns and perform aggregate functions.
   6)apply(): To apply custom functions to each element or row of the DataFrame for transformations.

In [5]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 23, 22, 24, 26],
    'Grade': [87, 90, 78, 95, 82]
}

df = pd.DataFrame(data)

# Displaying the first two rows
print("First two rows:")
print(df.head(2))

# Displaying the last three rows
print("\nLast three rows:")
print(df.tail(3))

# Getting information about the DataFrame
print("\nDataFrame Info:")
print(df.info())

# Descriptive statistics for the numeric columns
print("\nDescriptive Statistics:")
print(df.describe())

# Sorting the DataFrame by the 'Grade' column in descending order
sorted_df = df.sort_values(by='Grade', ascending=False)
print("\nSorted DataFrame:")
print(sorted_df)

# Grouping the data by the 'Age' column and calculating the average grade for each age group
grouped_df = df.groupby('Age')['Grade'].mean()
print("\nGrouped DataFrame:")
print(grouped_df)

First two rows:
    Name  Age  Grade
0  Alice   25     87
1    Bob   23     90

Last three rows:
      Name  Age  Grade
2  Charlie   22     78
3    David   24     95
4      Eva   26     82

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Grade   5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes
None

Descriptive Statistics:
             Age      Grade
count   5.000000   5.000000
mean   24.000000  86.400000
std     1.581139   6.655825
min    22.000000  78.000000
25%    23.000000  82.000000
50%    24.000000  87.000000
75%    25.000000  90.000000
max    26.000000  95.000000

Sorted DataFrame:
      Name  Age  Grade
3    David   24     95
1      Bob   23     90
0    Alice   25     87
4      Eva   26     82
2  Charlie   22     78

Grouped DataFrame:
Age
22    78.0
23    90.0
24    95.0
25    87.0
26    82.0
Name: Grade, dtype: float64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

 Both Series and DataFrame are mutable in nature, meaning you can modify their contents after creation.
 On the other hand, Panel is not mutable; it is an immutable data structure.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [6]:
import pandas as pd 
names = pd.Series(["BOB" , "jane"])
age = pd.Series([20,31])
grades = pd.Series([50,33])

data = {
    "Name" : names,
    "Age": age,
    "Grades": grades
}
df = pd.DataFrame(data)
df

   Name  Age  Grades
0   BOB   20      50
1  jane   31      33